@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(123, 0, 255), rgb(178, 91, 241));
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    font-size: 34px;
    margin-bottom: 50px;
}

.task-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-form * {
    margin-top: 10px;
}

.list-names {
    display: flex;
}

.list {
    display: flex;
    margin: 0px 5px 10px 0px;
}

.container {
    margin-top: 20px;
    padding-top: 10px;
    border: 2px solid rgb(255, 255, 255);
    min-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-do {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.to-do textarea {
    width: 80%;
    background: transparent;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    word-wrap: break-word;
    resize: none;
    margin-left: 5px;
}

.edit {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
}

.delete {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 5px;
}